<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
    </head>

    <body>
        {% if user.is_authenticated %}
    <h1>Bookself says... hello {{ user.username }}!</h1>
    {% else %}
    <h1>Bookshelf says... hello world!</h1>
    {% endif %}
        <h1>Add a Book</h1>

        <form id="book_form" method="post" action=''>

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Add Book" />
        </form>
        <a href = "/bookshelf/logout/">logout</a><br/>
    </body>

</html>
